body  {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

hr {
  border-style: dotted;
  border-bottom: none;
  border-color: #C8C6C6;
  border-width: 5px;
  width: 2%;
  margin: 100px auto;
}

h1 {
    font-size: 5.625rem;
    margin: auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.mountain-image {
  width: 40%;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 50%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  width: 40%;
  height: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-01 {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-02 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 50px 0 25px;
}

.contact {
  width: 20%;
  margin: 40px auto 60px;
}

.gmail {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}

.medias {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.linkedin {
  display: block;
}

.twitter {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
}

.instagram {
  display: block;
}

.copyright {
  color: #E4F9F5;
  font-size: 0.75rem;
  align-items: center;
}
